<app-top-menu></app-top-menu>
<div class="main-grid">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-auto">
                <app-side-menu></app-side-menu>
            </div>
            <div  class="col">
                <!-- <router-outlet></router-outlet> -->
                alo
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>